@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --font: "Inter", sans-serif;
  --color-facebook: hsl(208, 92%, 53%);
  --color-twitter: hsl(203, 89%, 53%);
  --color-instagram: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
  --color-youtube: hsl(348, 97%, 39%);
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --body-bg-dark: hsl(230, 17%, 14%);
  --body-bg-dark-hover: hsl(228, 26%, 27%);
  --dark-blue-1: hsl(232, 19%, 15%);
  --card-bg-dark: hsl(228, 28%, 20%);
  --desaturated-blue: hsl(228, 34%, 66%);
  --white: hsl(0, 0%, 100%);
  --body-bg-light-hover: hsl(232, 33%, 91%);
  --pale-blue: hsl(225, 100%, 98%);
  --card-bg-light: hsl(227, 47%, 96%);
  --grayish-blue: hsl(228, 12%, 44%);
  --dark-blue-2: hsl(230, 17%, 14%);
  --gray: hsl(230, 22%, 74%);
  --hover-gradient: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  --toggle-gradient: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
}

/* Dark Theme */
.dark-theme {
  --toggle: var(--toggle-gradient);
  --toggle-hover: var(--hover-gradient);
  --background: var(--body-bg-dark);
  --bg-hover: var(--body-bg-dark-hover);
  --top-bg-pattern: var(--dark-blue-1);
  --card-bg: var(--card-bg-dark);
  --text-primary: var(--desaturated-blue);
  --text-secondary: var(--white);
}

/* Light Theme */
.light-theme {
  --toggle: var(--gray);
  --toggle-hover: var(--hover-gradient);
  --background: var(--white);
  --bg-hover: var(--body-bg-light-hover);
  --top-bg-pattern: var(--pale-blue);
  --card-bg: var(--card-bg-light);
  --text-primary: var(--grayish-blue);
  --text-secondary: var(--dark-blue-2);
}

/* CSS Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

span,
img {
  display: block;
}

.header-section,
.main-section,
.footer-section {
  width: min(87.5%, 69.5rem);
  margin-inline: auto;
}

.upward-trend {
  color: var(--lime-green);
}

.downward-trend {
  color: var(--bright-red);
}

.account:hover,
.stats-container:hover {
  background-color: var(--bg-hover);
  cursor: pointer;
}

/* Header Section */

body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
  display: block;
  width: 100%;
  height: 15.25rem;
  background-color: var(--top-bg-pattern);
  border-radius: 0 0 20px 20px;
}

.header-section {
  margin-bottom: 2.75rem;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title {
  margin-top: 2.5rem;
  margin-bottom: 0.25rem;
  color: var(--text-secondary);
}

.theme,
.total-followers {
  font-weight: 700;
}

.theme {
  display: flex;
}

/* Toggle Switch Styles */

.theme-toggler {
  display: flex;
  align-items: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
  margin-left: 0.75rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--toggle);
  -webkit-transition: transform 0.4s;
  transition: transform 0.4s;
  border-radius: 34px;
}

.toggle-switch:hover .switch .slider {
  background: var(--toggle-hover);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.15rem;
  width: 1.15rem;
  left: 2.5px;
  bottom: 2.5px;
  background-color: var(--top-bg-pattern);
  -webkit-transition: transform 0.4s;
  transition: transform 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--toggle);
}
input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Main Section */

.accounts-grid,
.overview-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 1.5rem;
}

.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--card-bg);
  padding: 1.75rem 0 1.5rem;
  border-radius: 5px;
  border-top: 0.25rem solid transparent;
  position: relative;
}

.account::before {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: 0;
  width: 100%;
  height: 0.25rem;
  border-radius: 5px 5px 0 0;
}

.facebook::before {
  background: var(--color-facebook);
}

.twitter::before {
  background: var(--color-twitter);
}

.instagram::before {
  background: var(--color-instagram);
}

.youtube::before {
  background: var(--color-youtube);
}

.username,
.today,
.stats-trend {
  display: flex;
  align-items: center;
}

.heading-container,
.numbers-container {
  display: flex;
  justify-content: space-between;
}

.heading-container {
  align-items: center;
}

.numbers-container {
  align-items: baseline;
  line-height: 1;
}

.username {
  font-size: 0.75rem;
  font-weight: 700;
}

.username .social-icon {
  margin-right: 0.5rem;
}

.account-follower-count {
  color: var(--text-secondary);
  font-size: 3.25rem;
  font-weight: 700;
  margin-top: 1.5rem;
}

.followers {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.4em;
  margin-bottom: 1.5rem;
}

.today,
.stats-trend {
  font-size: 0.75rem;
  font-weight: 700;
}

.trend-arrow {
  margin-right: 0.25rem;
}

/* Overview Section */
.section-heading {
  color: var(--text-secondary);
  font-size: 1.5rem;
  margin: 3rem 0 1.5rem;
}

.stats-container {
  background-color: var(--card-bg);
  padding: 1.5rem 1.9rem 1.5rem 1.5rem;
  border-radius: 5px;
}

.heading-container {
  margin-bottom: 1.5rem;
}

.stats-heading {
  font-weight: 700;
}

.stats-count {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-secondary);
}

/* Footer Section */

.footer-section {
  margin-top: 4rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries */
@media screen and (max-width: 900px) {
  .accounts-grid,
  .overview-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .title-wrapper {
    flex-direction: column;
    justify-content: flex-start;
  }

  .accounts-grid,
  .overview-grid {
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 1.5rem;
  }

  .theme {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--text-primary);
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 380px) {
  .title {
    font-size: 1.25rem;
  }
}

/* @media screen and (max-width: 280px) {
  .title {
    font-size: 1.25rem;
  }
} */
